# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
.build/
dist/
.eggs/

# Venvs & env files
wvenv/
venv/
env/
.python-version
.env

# Portable Python bundles
resources/python313/win-x64/
resources/python313/linux-x64/
resources/python313/rpi/
resources/python313/python/
resources/python313/extracted

# Logs & caches
*.log
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pid

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Images & tokens (your originals)
images/
cookies.txt

downloads/
downloads_win/
*_debug.txt
cache/